/*common*/
body {
    font-family: 'Sintony', sans-serif;
    color: rgb(58, 7, 7);
    font-weight: 400;
    font-size: 16px;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-weight: 400;
}
h1 {
    font-size: 2.8em; /*42px;*/
    letter-spacing: 2px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
h2 {
    font-size: 1.8em; /*27px;*/
}

h3 {
    font-size: 1.667em; /*25px;*/
}
header {
    padding-top: 20px;
}

/*button*/
.btn_general {
    border-radius: 3px;
    display: block;
    padding: 8px 1px;
    width: 100%;
    min-width: 150px;
    font-size: 1.067em; /*16px;*/
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    background: none;
}
.btn_general:hover {
    border: none;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    transition: all 1s;
}
/*end button*/

/*form*/
.form-group ::placeholder {
    font-size: 1em;
    color: rgb(204, 197, 197);
}
/*end form*/

/*group*/
.nav-link, .btn_general, .advantages {
    text-transform: uppercase;
}
.nav-link, .btn_general, .services_price__course, .article, .contacts__about, .menu__icon {
    cursor: pointer;
}

h1, .advantages, .btn_general, .footer_contacts a, .number_telephone a, .review_desc, 
.icon-quote, .read_more a, .contacts__about i {
   color: rgb(255, 255, 255);
}
.title, .personal, .about_lfk__desc_text__impotant, .about_lfk__title h3, .individual_offer__title, 
.review_desc, .icon-quote, .article__wrapper_title, .more_btn, .question_desc, .footer_contacts a {
    font-style: italic;
}

h2, .advantages, .btn_general, .title, .services_price__title, .degree_1 img, .degree_3 img, .services_price__course, 
.services_price__recording, .review_desc, .question, .main_title {
    text-align: center;
}
/*end group*/

/*end common*/


/*logo*/
.logo img{
    width: 100%; 
    height: 100%;
}

/*menu main*/

nav {
    z-index: 2;
}
.nav-link {
    font-weight: 700;
    font-size: 1em; /*15px*/
    color: rgb(58, 7, 7);
    padding: 0;
}
.nav-link:hover {
    color: rgb(202, 31, 31);
}
.menu__links {
    display: block;
   
}

/*offer*/
.offer {
    background: url("../img/main-b.jpeg") no-repeat center / cover;
    height: 100vh;
    min-height: 520px;
    margin-top: -59px; 
}

.title {
    margin: 30vh 0 13vh;
}
.title__desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6em; /*24px;*/
    margin-left: 500px;
}

.number_telephone {
    margin-top: 5px;
    margin-bottom: 10px;
    min-width: 150px;
    background: rgba(37, 34, 14, 0.3);
}
.number_telephone a {
    font-size: 1.2em; /*22px;*/
    text-shadow: 1px 1px 2px rgb(255, 30, 30);
}
.number_telephone:hover {
    box-shadow:
    1px 1px rgb(68, 55, 25),
    2px 2px rgb(68, 55, 25),
    3px 3px rgb(68, 55, 25),
    4px 4px rgb(49, 44, 17),
    5px 5px rgb(49, 44, 17),
    6px 6px rgb(49, 44, 17),
    7px 7px rgb(49, 44, 17);
    }

.btn_replay {
    box-shadow: 1px 0 20px 4px rgb(54, 3, 3);
}

.btn_replay:hover {
    box-shadow:
    1px 1px rgb(94, 56, 35),
    2px 2px rgb(94, 56, 35),
    3px 3px rgb(94, 56, 35),
    4px 4px rgb(73, 43, 27),
    5px 5px rgb(73, 43, 27),
    6px 6px rgb(73, 43, 27),
    7px 7px rgb(73, 43, 27);
}

/*modal*/

.btn_close {
    background: rgb(185, 180, 176);
    
}
.btn_go {
    background: rgb(253, 144, 43);
    
}
/*end modal*/

.advantages {
    background: rgba(227, 182, 134, 0.11); 
    margin-top: 15vh;
    font-size: 1.267em;/*19px*/
    padding: 6px 0; 
    opacity: 0.7;
} 
.advantage__icon {
    background: rgba(255, 255, 255, 0.6);
    height: 25px;
    max-width: 2px;
    width: 100%;
    border-radius: 1px;
}
.advantage__experience, .advantage__all-patients, .advantage__humor {
    padding: 0 5px;
}

/*about*/

.about {
    background: rgb(241, 202, 163);
    padding: 60px 104px;
}

.personal {
    font-size: 1.666em;
 
}

.personal:before {  
    content: "\201c";  
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;  
    line-height: 0;
    float: left;  
    position: relative;  
} 

.personal__title, .personal__work  {
    margin-left: 52px;
}
.personal__desc {
    margin: 20px 0 35px 52px;
}
.personal__desc span {
    font-weight: 600;
}
.personal__work {
    font-size: 0.8em;
}
.personal_foto__img {
    display: block;
    width: 100%;
    max-width: 271px;
    margin: 0;
}

.personal__btn {
    font-size: 0.95em;
    box-shadow: 1px 0 20px 4px rgb(226, 190, 156);
    max-width: 210px;
}

.additional {
    display: none;
    font-size: 1.1em;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}
.additional__education {
    padding: 20px 0;
}
.degree_2 img, .degree_4 img, .degree_5 img{
    height: 80px;
    width: 60px;
    margin: 5px;
    background: #74644d;
    overflow: hidden;
}
.degree_1 img, .degree_3 img{
    height: 60px;
    width: 80px;
    margin: 5px;
}
.degrees li {
    display: inline;
}


/*services*/

.services {
    background: rgb(249, 232, 214);
    padding: 30px 0;
}
.arrow {
    font-size: 3em; /*45px;*/
    width: 5%;
    margin: 0 auto;
}

.about_lfk .container {
    box-shadow: 1px 0 20px 4px rgb(253, 240, 227);
    position: relative;
    padding: 5px 15px 10px;
}


.about_lfk__title {
    background: url("../img/services_title.jpeg") no-repeat top left / cover;
    box-shadow: 100vw 0px 0px rgba(255, 255, 255, 0.5) inset,
    1px 0 10px 1px rgb(209, 147, 85);
    width: 37%;
    min-width: 320px;
    height: 100%;
    min-height: 180px;
    float: left;
    margin-right: 20px;
}

.about_lfk__desc p{
    display: block;
}

.about_lfk__desc_text span{
    color: rgb(221, 145, 101);
    font-weight: 600;
}

.about_lfk__desc_text__impotant {
    color: rgb(255, 94, 73);
    text-align: right;
}

.about_lfk__desc_text {
    text-align: justify;
    font-size: 1em; /*15px;*/
}

.about_lfk__title h3 {
    padding: 5px;
    text-align: right;
}

.individual_offer {
    background: url("../img/persanal-services.jpeg") no-repeat center / cover;
    width: 35%;
    min-width: 309px;
    height: 100%;
    min-height: 200px;
    padding: 10px 20px;
    float: right;
    margin-right: -3.5em;
    margin-left: 15px;
    box-shadow: 1px 0 5px 3px rgb(54, 3, 3);
}

.individual_offer__icon_circle {
    background: rgb(54, 3, 3);
    height: 10px;
    width: 10px;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    display: inline-block;
}

.individual_offer__desc {
    display: inline;
}

.services_price__title {
    margin: 50px 0;
}

.services_price__course {
    margin: 10px 0;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}
.services_price__course:hover {
    margin-top: 2px;
}

.services_price__course_title {
    background: rgb(245, 153, 99);
    border-radius: 5px 5px 0 0;
    padding: 23px 0;
}
.services_price__course_days {
    background: rgb(233, 166, 122);
    padding: 4px 0;
}
.services_price__course_amount {
    background: rgb(243, 224, 157);
    padding: 4px 0;
}

.services_price__recording {
    width: 20%;
    margin: 20px auto;
    margin-bottom: 20px;
    box-shadow: none;
}

.services_price__recording a {
    color: rgb(249, 232, 214);
}

.attention {
    padding-left: 0;
}

.attention :before {  
    content: "!";  
    font-size: 3.3em; /*75px;*/ 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;  
    line-height: 0;
    margin-left: 15px;
} 



/*review*/

.review {
    background: rgb(241, 202, 163);
    padding: 60px 40px;
}
.review_desc {
    font-size: 1.467em; /*22px;*/
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.icon-quote {
    font-size: 5em; /*75px;*/ 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    line-height: 0.7;
}
.icon-quote-right {
    text-align: right;
}
.carousel-item {
    min-height: 330px;
}

/*carousel*/

.carousel-item {
    background: #74644d;
    box-shadow: inset 0px 0px 15px rgba(247, 159, 119, 0.9);
    padding: 20px; 
    margin-top: 20px;
}


/*read*/

.read {
    background: url("../img/bookcase-1869616_1920.jpg") no-repeat center / cover;
    box-shadow: 100vw 0px 0px rgba(248, 212, 157, 0.25) inset;
    padding: 60px 0;
}

.read h2 {
    color: rgb(252, 252, 252);
}

.article {
    display: block;
    color: rgb(54, 45, 45);
    font-family: 'Ubuntu', sans-serif;
}

.icon_left {
    background: url("../img/review.png") no-repeat top left;
    float: left;
    height: 50px;
    width: 50px;
}

.article__wrapper {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 15px 30px 0 15px;
    height: 20vh;
    border: rgb(129, 98, 86) 1px dotted;
}
.article__wrapper_title {
    font-size: 1.2em;/*20px;*/
    display: block;
    background: rgb(226, 181, 120);
    background: linear-gradient( to right, rgb(255, 96, 56), rgb(255, 154, 114), rgb(243, 224, 157));
}
.artile__wrapper_desc {
    height: 2.7em;
    overflow: hidden;
}

.more_btn {
    text-align: right;
    font-size: 0.8em; /*12px;*/
    margin-top: 10px;
    color: rgb(141, 118, 100);
    text-shadow: 1px 1px 1px rgb(182, 180, 180)
}

.read_more {
    background: rgba(37, 34, 14, 0.6);
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
}

.read_more:hover {
    box-shadow:
    1px 1px rgb(94, 56, 35),
    2px 2px rgb(94, 56, 35),
    3px 3px rgb(94, 56, 35),
    4px 4px rgb(61, 54, 23),
    5px 5px rgb(61, 54, 23),
    6px 6px rgb(61, 54, 23);
    
}


/* contacts*/

.contacts {
    background: rgb(241, 202, 163);
    padding: 60px 0 30px 0;
}

.contacts__about {
    height: 18vh;
    width: 19vh;
    background: url("../img/icon-ct.png") no-repeat center;
    margin: 15px auto;
}

.contacts__about i:hover {
    color: rgb(79, 160, 99);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}
.contacts__about i {
    font-size: 1.467em; /*23px;*/
}

.wrapper {
    margin: 0 auto;
}
.question {
    margin-bottom: 20px;;
}

form {
    width: 70%;
    margin: 0 auto;
}
.form_enter ::placeholder {
    color: rgb(128, 99, 99);
}

.btn_place button {
    width: 20%;
    margin: 0 auto;
    box-shadow: 1px 0 20px 4px rgb(226, 190, 156);
}
.btn_place button:hover {
    background: none;
}


/*footer*/

.footer {
    background: rgb(107, 91, 59);
    padding: 10px 0;
}

.footer_contacts {
    text-align: right;
}

.footer_contacts__item {
    margin: 5px;
}



/*hamburger*/

.menu__icon {
    display: none;
    width: 36px;
    height: 30px;
    position: relative;
    z-index: 2;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(136, 67, 11);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 10px;
}

.menu__icon span:nth-child(4) {
    top: 20px;
}
  
.main_menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.main_menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}
  
.main_menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}
  
.main_menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.main_menu.menu_state_open .menu__links {
    display: block;
}


/*media*/

/*main points*/


@media screen and (min-width: 768px) and (max-width:991px){
    body {
        font-size: 14px;
    }
    .about {
        padding: 60px 50px;
    }
}

@media screen and (min-width: 576px) and (max-width:767px){
    body {
        font-size: 11px;
    }
    .offer {
        background: url("../img/main-b_m.jpg") no-repeat center / cover;
    }
    .title__desc {
        margin-left: 0;
        text-align: right;
    }
    .personal_foto {
        display: none;
    }
    .about {
        padding: 40px 20px;
    } 
    .menu__icon{
        display: inline-block;
    }
    
    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 50px;
        z-index: 1000;
        overflow: auto;
    }
    .nav-item {
        text-align: center;
        letter-spacing: 2px;
        padding: 5px;
        width: 100%;
        background-color: rgba(250, 82, 31);
        border: 0.5px solid rgb(255, 220, 174);
        border-radius: 3px;
        margin: 0.5px 0;
    }
    .header_articles .menu__links {
        margin-top: 70px;
    }
    .hamb {
        flex-direction: column;
        justify-content: flex-end;
    }
 
    .review_desc {
        padding: 5px;
    }
    .carousel-item {
        min-height: 250px;
    }
   
}

@media screen and (max-width:575px){
    body {
        font-size: 10px;
    }
    .offer {
        background: url("../img/main-b_s.jpg") no-repeat center / cover;
        
    }
    .btn_general, .number_telephone {
       padding: 5px;
       max-width: 180px;
    }
  
    .menu__icon{
        display: inline-block;
    }
    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 50px;
        z-index: 1000;
        overflow: auto;
    }
    .nav-item {
        text-align: center;
        letter-spacing: 2px;
        padding: 5px;
        width: 100%;
        background-color: rgba(250, 82, 31);
        border: 0.5px solid rgb(255, 220, 174);
        border-radius: 3px;
        margin: 0.5px 0;
    }
    .header_articles .menu__links {
        margin-top: 70px;
    }
       
    .hamb {
        flex-direction: column;
        justify-content: flex-end;
    }
    li.nav-item:hover {
        background-color: rgb(245, 169, 29);
        box-shadow: inset 0 0 0 2px rgb(234, 83, 83);
        border: 0;
        transition-duration: 0.5s;
    }
    .title__desc {
        margin-left: 0;
        text-align: center;
    } 
    .logo {
        max-width: 180px; 
    }
    .about {
        padding: 60px 0;
    }
    .personal_foto {
        display: none;
    }
    .title {
        margin: 30vh 0 14vh;
    }
    .advantages {
        margin-top: 20vh;
    }
    .review_desc {
        padding: 20px 5px;
    }
    .contacts__about {
        height: 16vh;
        width: 17vh;
        background: url("../img/icon-ct-mini.png") no-repeat center / cover;
    }
   
}


/*middle points*/

@media screen and (min-width: 1200px) and (max-width: 1235px) {
    .individual_offer {
        margin-right: -5px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1052px) {
    .individual_offer {
        margin-right: -5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 819px) {
    .individual_offer {
        margin-right: -5px;
    }
}

@media screen and (max-width: 614px) {
    .individual_offer {
        margin-right: 0;
    }
}

@media screen and (max-width: 496px) {
    .title {
        margin: 130px 0 0;
    }
    .title__desc {
        text-align: left;
        margin-top: 150px;
    } 
    .number_telephone {
        margin-top: -40px;
    }
    .contacts__about {
        height: 13vh;
        width: 13vh;
    }
}
@media screen and (max-width: 479px) {
    .title__desc {
        margin-top: 120px;
    } 
}    

@media screen and (min-width: 320px) and (max-width: 460px) {
    .about_lfk__title, .individual_offer {
        min-width: 320px;
        display: block;
        float: none;
        margin: 5px auto;
    }
    .number_telephone {
        min-width: 134px;
    }
    .number_telephone a {
        font-size: 1.4em;
    }
    .review_desc {
        font-size: 1.3em;
    }
    .icon-quote {
        font-size: 5em;
        padding-right: 0; 
        margin-top: 20px;
    }
    .icon-quote-right {
        padding-left: 0;
    }
    .review {
        padding: 40px 10px;
    }
    .read_more {
        width: 28%;
    }
}

@media screen and (min-width: 320px) and (max-width: 345px) {
    .offer .btn_general {
        display: none;
    }
    .title__desc {
        margin-top: 120px;
    } 
    .advantages {
        font-size: 1.15em;
    }
    .about_lfk__title, .individual_offer {
        min-width: 300px;
    }
}

@media screen and (min-width: 320px) and (max-width: 363px) {
    .personal__btn {
        width: 43%;
    }
}

@media screen and (min-width: 320px) and (max-width: 390px) {
    .contacts__about {
        height: 10vh;
        width: 10.5vh;
    }
}



/*articles.html*/


.header_articles .main_header {
    background: url("../img/main-b.jpeg");
    padding: 10px 0;
    
}

.menu_articles .article__wrapper_title {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border: 2px dotted rgb(243, 90, 44);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.menu_articles .article__wrapper_title a {
    color: rgb(56, 5, 5);
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
} 
.menu_articles .article__wrapper_title:hover {
    background: linear-gradient( to right, rgb(255, 96, 56), rgb(255, 154, 114), rgb(243, 224, 157));
    border: 1px solid rgb(233, 114, 17);
    border-radius: 10px;
}

.main_title {
    font-size: 1.5em;
    padding: 5px 0;
    margin-top: 5px;
}
.main_desc {
    padding: 8px;
    border-radius: 10px;
    text-align: justify;
}

main {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: inset 2px 2px 1px rgba(250, 191, 136, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.line {
    height: 1px;
    margin: 0 50px;
    background: rgba(247, 24, 24, 0.5);
}


@media screen and (min-width: 440px) and (max-width: 576px) {
    .sidebar {
        flex: none;
        width: 30%;
        margin-right: 15px
    }
    .main {
        flex: none;
        width: 65%;
        float: left;
    }
}

@media screen and (max-width: 439px) {
    .menu_articles {
        margin: 0 auto;
    }
    .main {
        margin: 10px;
    }
}

                           
   
  









